<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<!-- Bootstrap theme -->
<link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../libs/angular-chart/angular-chart.min.js">    
<link rel="stylesheet" type="text/css" href="../css/style.css"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WeSizeIT</title>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73584409-1', 'none'); //Use this when on local
        //ga('create', 'UA-73584409-1', 'auto'); //Use this when on production
    </script>
    <!-- End Google Analytics -->
    <base href="/">
</head>
<body ng-app="weSizeItApp">
    <div ui-view name="nav"></div>
    <div class="container">
        <div ui-view name="content"></div>
    </div>
</body>
    
<!--start DEV imports-->
    <script src="../libs/jquery/dist/jquery.min.js"></script>
    <script src="../libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="../libs/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="../libs/ui-router/release/angular-ui-router.min.js"></script>
    <script src="../libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../libs/stormpath-sdk-angularjs/dist/stormpath-sdk-angularjs.min.js"></script>
    <script src="../libs/stormpath-sdk-angularjs/dist/stormpath-sdk-angularjs.tpls.min.js"></script>
    <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>  
    <script src="../libs/sio-client/socket.io.js"></script>
    <script src="../libs/angulartics/dist/angulartics.min.js"></script>
<!--end DEV imports-->
    
<!--start PROD imports
    <script src="../dist/js/bower.min.js"></script>
end PROD imports-->
    
    
    <!-- This App
    ================================================== -->
    <script src="../js/core.js"></script>
    <script src="../js/services/userService.js"></script>
    <script src="../js/controllers/MainCtrl.js"></script>
    <script src="../config/config.js"></script>
    <script src="../libs/angular/angular.min.js"></script>
    
    <!-- Static
    ================================================== -->
    <script src="../staticLib/Chart.js"></script>
    <script src="../staticLib/angular-chart.min.js"></script>
    <script src="../staticLib/angulartics-google-analytics.min.js"></script>
    

    
    
</html>