<div style="
    position: absolute;
    top: 50px;
    height: 100%;
    width: 200px;
    background-color: black;
    left: 0px;
    color: white;
">
    <a ui-sref="room">Close Options</a></li>
    <form role="form">
                <div class="form-inline">
                    <div class="form-group" style="width: 29%;">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="room_name" ng-model="tempRoom_name" style="width: 100%;">
                    </div>
                    <div class="form-group" style="width: 70%;">
                        <label for="key">Key</label>
                        <input type="text" class="form-control" id="room_key" ng-model="tempRoom_key" style="width: 100%;">
                        <button analytics-on="click" analytics-event="Generate Room Key" type="submit" class="btn btn-default" ng-click="generateRoomKey()">Generate Room Key</button>
                    </div>
                </div>
                <button analytics-on="click" analytics-event="Save Room" type="submit" class="btn btn-default" ng-click="updateRoomDetails()">Submit</button>
    </form>
</div>