<div class="container appContainer" ng-controller="mainController" ng-show="user.authenticated">
    <div class="row">
<!--        PB LIST -->
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Product Backlogs</h3>
                </div>
                <div id="pb-form" class="row">
                    <div class="col-sm-8 text-center" style="width: 100%">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg text-center" placeholder="New Product Backlog" ng-model="formData.name">
                            </div>
                            <button type="submit" class="btn btn-default btn-primary" style="width: 100%" ng-click="createPb()">Create</button>
                        </form>
                    </div>
                </div>
                <div id="pb-list" class="row">
                    <div class="col-sm-4 col-sm-offset-4 productBacklogList">
                        <div class="btn-group-vertical productBacklogList" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" style="text-align: left"  ng-repeat="pb in pbs" ng-click="loadPB(pb._id)">{{ pb.name }}</button>
                        </div>
                        <p class="text-center" ng-show="loading">
                            <span class="fa fa-spinner fa-spin fa-3x"></span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
<!--        USER STORY LIST -->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Story List</h3>
                </div>
                <div id="pb-form" class="row">
                    <div class="col-sm-8 text-center" style="width: 100%">
                        <form>
                            <div class="form-group">
                                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                <input type="text" class="form-control input-lg text-center" placeholder="New User Story" ng-model="formPBItemData.text">
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="createPbItem()">Add</button>
                        </form>
                    </div>
                </div>
                <div id="pb-list" class="row">
                    <div class="col-sm-4 col-sm-offset-4 productBacklogList">
                        <div class="floatleft">
                            <ul ui-sortable="sortableOptions" ng-model="pbitems" class="list logList" style="padding: 0px; width: 100%; margin: 0px;">
                                <li ng-repeat="item in pbitems" class="logItem" ng-click="loadPBItem(item)">
                                    {{ item.title }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        PB ITEM DETAILS -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Story Details</h3>
                </div>
                <form role="form">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="pbID">ID</label>
                            <input type="text" class="form-control" id="pbID" ng-model="pbitem.pbID">
                        </div>
                        <div class="form-group" style="width: 60%;">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" ng-model="pbitem.title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="narrative">Narrative</label>
                        <textarea class="form-control" rows="4" id="narrative" ng-model="pbitem.narrative" placeholder="As a User I want.. So that..">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="acceptanceCriteria">Acceptance Criteria</label>
                        <textarea class="form-control" rows="4" id="acceptanceCriteria" ng-model="pbitem.acceptanceCriteria" placeholder="Given..When..Then..">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input type="text" class="form-control" id="size" ng-model="pbitem.size" style="width: 20%;">
                    </div>
                    <div class="form-inline">
                        <div class="form-group" style="width: 20%;">
                            <label for="risk">Risk</label>
                            <input type="text" class="form-control" id="risk" ng-model="pbitem.risk">
                        </div>
                        <div class="form-group" style="width: 20%;">
                            <label for="complexity">Complexity</label>
                            <input type="text" class="form-control" id="complexity" ng-model="pbitem.complexity">
                        </div>
                        <div class="form-group" style="width: 20%;">
                            <label for="effort">Effort</label>
                            <input type="text" class="form-control" id="effort" ng-model="pbitem.effort">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="updateUserStory()">Submit</button>
                </form> 
            </div>
        </div>
<!--        Team DETAILS -->
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Members</h3>
                </div>
                <div id="pb-form" class="row">
                    <div class="col-sm-8 text-center" style="width: 100%">
                        <form>
                            <div class="form-group">
                                <!-- BIND THIS VALUE TO teamMember.email IN ANGULAR -->
                                <input type="text" class="form-control input-lg text-center" placeholder="New Member" ng-model="teamMember.email">
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="saveTeamMember()">Add</button>
                        </form>
                    </div>
                </div>
                <div id="teamMember-list" class="row">
                    <div class="col-sm-4 col-sm-offset-4 productBacklogList">
                        <div class="btn-group-vertical productBacklogList" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" style="text-align: left"  ng-repeat="member in team">{{ member.email }}</button>
                        </div>
                        <p class="text-center" ng-show="loading">
                            <span class="fa fa-spinner fa-spin fa-3x"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>