<!-- User Story List --> 
<div ng-controller="mainViewCtrl">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="background-color: lightblue;">
			<h4>
				Size
			</h4>
		</div>
	</div>
	<div class="row" style="height: 40%">
		<div class="col-md-4">
            <canvas id="radar" class="chart chart-radar" chart-labels="labels" chart-data="effortseries" style="margin-top: 4%;">
            </canvas> 
		</div>
		<div class="col-md-8">
            <canvas id="bar" class="chart chart-bar" chart-labels="labels" chart-data="effortseries" chart-series="series">
            </canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="background-color: lightblue;">
			<h4>
				Complexity
			</h4>
		</div>
	</div>
	<div class="row" style="height: 20%">
		<div class="col-md-4">
            <canvas id="radar" class="chart chart-radar" chart-labels="labels" chart-data="riskseries" style="margin-top: 4%;">
            </canvas> 
		</div>
		<div class="col-md-8">
            <canvas id="bar" class="chart chart-bar" chart-labels="labels" chart-data="riskseries" chart-series="series">
            </canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"style="background-color: lightblue;">
			<h4>
				Risk
			</h4>
		</div>
	</div>
	<div class="row" style="height: 20%">
		<div class="col-md-4">
            <canvas id="radar" class="chart chart-radar" chart-labels="labels" chart-data="complexityseries" style="margin-top: 4%;">
            </canvas> 
		</div>
		<div class="col-md-8">
            <div class="col-md-8">
            <canvas id="bar" class="chart chart-bar" chart-labels="labels" chart-data="complexityseries" chart-series="series">
            </canvas>
		</div>
		</div>
	</div>
</div>
<div ui-view></div>
</div>